asgiref==3.3.1
beautifulsoup4==4.9.3
dj-database-url==0.5.0
Django==3.1.7
django-fresh==1.0.5
gunicorn==20.1.0
Pillow==8.1.2
psycopg2==2.8.6
pytz==2021.1
soupsieve==2.2.1
sqlparse==0.4.1
watchdog==2.0.2
whitenoise==5.2.0
